<div class="well">
  <p class="text-muted">Added by <strong><%= "dummy" %></strong> on
    <%= l(comment.created_at, format: '%B, %d %Y %H:%M:%S') %></p>

  <blockquote>
    <div class="text-wrap text-break"><%= comment.content %></div>
  </blockquote>
  <% from_reply_form ||= nil %>
  <% unless from_reply_form %>
    <%= link_to 'Reply', new_comment_path(comment.id) %>
    <%= link_to 'Edit', edit_comment_path(comment.id) %>
    <%= link_to "Destroy", comment_path(comment),
                          method: :delete,
                          data: { confirm: "Are you sure?" } %>
  <% end %>
</div>
