<div class="card">
  <p class="text-muted mt-2 mx-2">Added by <strong><%= get_user_name id: comment.user_id %></strong> on
    <%= l(comment.created_at, format: '%B, %d %Y %H:%M:%S') %></p>

  <blockquote>
    <div class="text-wrap text-break mx-2"><%= comment.content %></div>
  </blockquote>
  <% from_reply_form ||= nil %>
  <% unless from_reply_form %>
    <nav>
    <% if user_signed_in? %>
      <% user = current_user %>
      <% if comment.user_id == user.id %>
        <%= link_to 'Reply', new_comment_path(comment.id), class: "btn btn-primary ms-2 mb-2" %>
        <%= link_to 'Edit', edit_comment_path(comment.id), class: "btn btn-secondary mx-2 mb-2"%>
        <%= link_to "Destroy", comment_path(comment),
                              method: :delete,
                              data: { confirm: "Are you sure?" },
                              class: "btn btn-warning me-2 mb-2" %>
      <% else %>
        <%= link_to 'Reply', new_comment_path(comment.id), class: "btn btn-primary mx-2 mb-2" %>
      <% end %>
    <% else %>
        <%= link_to 'Sign up to reply', "/new-profile", class: "btn btn-primary mx-2 mb-2" %>
    <% end %>
    </nav>
  <% end %>
</div>
