<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
  <div class="container">
    <%= link_to "Home", "/", class: "navbar-brand" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to "Logout", destroy_user_session_path, class: "nav-link active" %>
          </li>
          <li class="nav-item">
            <%= link_to "Settings", edit_user_registration_path, class: "nav-link active" %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Log in", new_user_session_path, class: "nav-link active" %>
          </li>
          <li class="nav-item">
            <%= link_to "Sign up", new_user_registration_path, class: "nav-link active" %>
          </li>
        <% end %>
        <li>
          <%= link_to "Tour", "/tour", class: "nav-link active" %>
        </li>
        <li class="nav-item">
          <%= link_to "Map", "/map", class: "nav-link active" %>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Articles
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <% set_articles %>
            <% @first_5_articles.each do |article| %>
              <li><%= link_to article.title, article, class: "dropdown-item" %></li>
            <% end %>
            <li><hr class="dropdown-divider"></li>
            <li><%= link_to "Full list", "/articles", class: "dropdown-item" %></li>
          </ul>
        </li>
        <li class="nav-item">
          <%= link_to "Forum", "/posts", class: "nav-link active" %>
        </li>
      </ul>
      <% pageurl = request.fullpath %>
      <% if pageurl.start_with?("/posts") and user_signed_in? %>
      <ul class="navbar-nav">
        <li class="nav-item">
          <%= link_to "New Post", "/posts/new", class: "nav-link active text-primary me-2" %>
        </li>
        <% if defined?(@show_edit) %>
          <li class="nav-item">
            <%= link_to "Edit", edit_post_path(@post), class: "nav-link active text-primary me-2" %>
          </li>
          <li class="nav-item">
            <%= link_to "Destroy", post_path(@post),
                                  method: :delete,
                                  data: { confirm: "Are you sure?" },
                                  class: "nav-link active text-primary me-2",
                                  return_url: request.fullpath %>
          </li>
        <% end %>
      </ul>
      <% end %>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
