<!DOCTYPE html>
<html lang="en">
  <head>
    <title>RailsSchoolWebsite</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'jquery' %>
    <%= stylesheet_link_tag 'bootstrap' %>
    <%= javascript_include_tag 'bootstrap' %>
    <%= stylesheet_link_tag 'wandoo' %>
  </head>

  <body>
    <%= render 'layouts/navigation' %>
    <%= yield %>
  </body>
</html>
